

body {

  main {

    article {

      &.entry {

        figure {

          &.entry-thumbnail {

            img {
              width: auto;
              max-height: 227px;
            }
          }
        } // figure

        
        .entry-header {

          .title-bordered {
            padding-right: 7px;
          }
        }

        .entry-excerpt {
          p {
            padding: 7px;
          }
        }

        footer {
          
          &.entry-footer {

            a {
              cursor: pointer;
            }

            .addComment {
              clear: both;
              width: max-content;
              left: 0;
              margin: 0 auto;
              position: absolute;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }

  // modals
  .modal {
    
    .modal-header {
      
      .close {
        position: absolute;
        top: 17px;
        right: 17px;
      }
    }

    .modal-body {

      h4 {
        padding-top: 20px;
      }
    }
  }
} // body