

body {

  main {

    article {

      &.entry {

        figure {

          &.entry-thumbnail {

            img {
              width: auto;
              max-height: 227px;
            }
          }
        } // figure

        
        .entry-header {

          .title-bordered {
            padding-right: 7px;
          }
        }

        .entry-excerpt {
          p {
            padding: 7px;
          }
        }

        footer {
          
          &.entry-footer {

            a {
              cursor: pointer;
            }

            .addComment {
              font-size: 17px;
              padding: 0;
            }
          }
        } // footer

        #comments {

          .list-group-item {
            overflow: auto;
            
            .btn-deletenote {
              float: right;
            }
          }
        }
      }
    }
  }

  // modals
  .modal {
    
    .modal-header {
      
      .close {
        position: absolute;
        top: 17px;
        right: 17px;
      }
    }

    .modal-body {

      h4 {
        padding-top: 20px;
      }
    }
  }
} // body